/*
	Theme Name: Morgan Spencer Blog
	Description: Morgan Spencer Blog Theme
	Version: 1.0.2
	Author: Morgan Spencer
*/

/*---------------
General Styles
---------------*/

* {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

html,
body {
	font-family: 'Open Sans', sans-serif;
	color:#000;
	padding: 0;
	margin: 0;
	background-color: #fff;
	font-size: 100%;
}

.clear {
    clear: both;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 50px;
	margin-left: auto;
	margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Frank Ruhl Libre', serif;
	font-weight: 500;
	line-height: 100%;
	margin: 1em 0 .5em;
}

h1 {
	font-size: 44px;
	margin: 15px 0;
}

h2 {
	font-size: 38px;
}

h3 {
	font-size: 32px;
}

h4 {
	font-size: 26px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 14px;
}

p {
	font-size: 18px;
	line-height: 1.4;
}

a,
header .search-toggle {
	color: #000;
	text-decoration: none;
	background-image: linear-gradient(to bottom, transparent 65%, #75ff8d 10%);
    background-repeat: no-repeat;
	-webkit-transition: background-image .4s ease;
	-moz-transition: background-image .4s ease;
	-o-transition: background-image .4s ease;
	-ms-transition: background-image .4s ease;
	transition: background-image .4s ease;
}

a:hover,
a:focus,
a:visited,
a:active,
header .search-toggle:hover {
	background-image: linear-gradient(to bottom, transparent 65%, #d8d8d8 10%);
}

ul,
ol {
	font-size: 18px;
}

table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
}

table.centered {
	text-align: center;
}

td,
th {
	padding: 5px;
	border: 1px solid #d8d8d8;
}

thead tr {
	background-color: #f6f6f6;
}

tbody tr:nth-child(even) {
	background-color: #f6f6f6;
}

blockquote {
	margin-left: 0;
	margin-right: 0;
	padding-left: 30px;
	border-left: 8px solid #75ff8d;
}

mark {
	background-color: #d8d8d8;
}

input,
select,
textarea,
#mc_embed_signup form input.email {
    border: 2px solid #d8d8d8;
    padding: 5px;
    font-size: 16px;
	border-radius: 0;
	font-family: 'Open Sans', sans-serif;
	-webkit-appearance: none;
	-moz-appearance: none;
}

body > #mc_embed_signup form input.email {
	height: 32px;
    display: inline-block;
    margin: 0;
    width: 350px;
    max-width: 100%;
    vertical-align: top;
}

textarea {
	max-width: 100%;
	min-width: 100%;
	min-height: 150px;
	max-height: 90vh;
}

button,
.button,
input[type="submit"],
input[type="button"],
.wp-block-button__link,
#mc_embed_signup form .button {
	background: none;
	background-color: #75ff8d;
	font-family: 'Open Sans', sans-serif;
    border: none;
	border-radius: 0;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #000;
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-transition: background-color .4s ease;
	-moz-transition: background-color .4s ease;
	-o-transition: background-color .4s ease;
	-ms-transition: background-color .4s ease;
	transition: background-color .4s ease;
}

figure {
	margin-top: 0;
}

.wp-block-embed-spotify {
	margin-left: 0;
	margin-right: 0;
}

figure a {
	background-image: none;
}

figure a:hover {
	background-image: none;
}

.profile-image img {
	border-radius: 50%;
}

body > #mc_embed_signup form label {
	font-family: 'Frank Ruhl Libre', serif;
	font-weight: 500;
	display: block;
	padding-bottom: 0;
	line-height: 100%;
	font-size: 28px;
	margin-bottom: 15px;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

body > #mc_embed_signup form .button {
	padding: 0 18px;
	letter-spacing: normal;
	height: 32px;
	line-height: 32px;
	display: inline-block;
	margin: 0 0 0;
}

body > #mc_embed_signup .clear {
	display: inline-block;
}

button[disabled="disabled"] {
	color: rgba(0,0,0,0.5);
	background-color: #d8d8d8;
}

button:visited,
.button:visited,
input[type="submit"]:visited,
input[type="button"]:visited,
.wp-block-button__link:visited,
#mc_embed_signup form .button:visited {
	background-color: #75ff8d;
	color: #000;
}

button:hover,
.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.wp-block-button__link:hover,
#mc_embed_signup form .button:hover,
button:focus,
.button:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
.wp-block-button__link:focus,
#mc_embed_signup form .button:focus,
button:active,
.button:active,
input[type="submit"]:active,
input[type="button"]:active,
.wp-block-button__link:active,
#mc_embed_signup form .button:active,
button:disabled,
.button:disabled,
input[type="submit"]:disabled,
input[type="button"]:disabled,
.wp-block-button__link:disabled,
#mc_embed_signup form .button:disabled {
	background: none;
	color: #000;
	background-color: #d8d8d8;
}

button[disabled="disabled"],
button[disabled="disabled"]:hover {
	background-color: #d8d8d8;
}

fieldset {
	border: 1px solid #d8d8d8;
}

code {
	background-color: #353535;
	color: #fff;
	display: inline-block;
	padding: 0 8px;
    font-size: 13px;
    vertical-align: middle;
}

.wp-block-code {
	background-color: #353535;
	color: #fff;
	padding: 5px 0;
    font-size: 13px;
}

main {
	margin-bottom: 60px;
}

::-moz-selection {
	background: #75ff8d;
}

::selection {
	background: #75ff8d;
}

/*---------------
Header
---------------*/

header {
	margin-bottom: 30px;
}

header > .container {
	display: table;
	margin: 20px auto;
	position: relative;
}

header .site-info {
	display: table-cell;
    vertical-align: middle;
    margin: 0;
    font-size: 24px;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 500;
    line-height: 100%;
}

header .search-toggle {
	display: inline-block;
	margin: 10px;
	background-color: transparent;
    font-size: 15px;
    padding: 0;
}

header .search {
	display: none;
	width: 100%;
	position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
}

header .search .container {
	height: 100%;
}

header .search input {
	width: 100%;
	height: 100%;
	border: none;
	text-align: center;
    padding: 5px 0;
    border-bottom: 2px solid #75ff8d;
	-webkit-transition: width .4s ease;
	-moz-transition: width .4s ease;
	-o-transition: width .4s ease;
	-ms-transition: width .4s ease;
	transition: width .4s ease;
}

header .search input:focus {
	outline: none;
    border-bottom: 2px solid #d8d8d8;
}

header .search button {
	position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    display: table-cell;
    height: 100%;
    padding: 0 20px;
}

header .menu-menu-container {
	display: inline-block;
}

.mobile-menu {
	display: none;
	float: right;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}

#main-nav {
	display: table-cell;
	vertical-align: middle;
	list-style: none;
	text-align: right;
}

#main-nav ul {
	margin: 0;
	padding: 0;
}

#main-nav li {
	display: inline-block;
	margin: 10px;
	position: relative;
}

#main-nav li a {
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 15px;
}

#main-nav li a i {
	margin-left: 5px;
    font-size: 11px;
    vertical-align: middle;
    margin-top: -4px;
}

#main-nav .sub-menu {
	position: absolute;
    right: -10px;
    white-space: nowrap;
    top: 100%;
    background-color: #fff;
	z-index: 99;
	border: 2px solid;
    border-top: none;
    border-bottom: none;
    border-left-color: #75ff8d;
    border-right-color: #74f2f7;
}

#main-nav .sub-menu {
	display: none;
}

#main-nav li.menu-item-has-children:hover .sub-menu {
	display: block;
}

#main-nav .sub-menu li {
	display: block;
	margin-top: 8px;
}

#main-nav .sub-menu li a {
	display: inline-block;
}

#category-nav {
	width: 100%;
	background: #75ff8d;
	background: -moz-linear-gradient(left, #75ff8d 0%, #74f2f7 100%);
	background: -webkit-linear-gradient(left, #75ff8d 0%,#74f2f7 100%);
	background: linear-gradient(to right, #75ff8d 0%,#74f2f7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75ff8d', endColorstr='#74f2f7',GradientType=1 );
}

#category-nav ul {
	margin: 0 auto;
	list-style: none;
	
}

#category-nav > ul > li {
	position: relative;
	float: left;
}

#category-nav ul li:hover .sub-categories {
	display: block;
	padding: 0;
}

#category-nav ul li a {
	display: block;
    padding: 10px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
	background: none;
	-webkit-transition: background-color .4s ease;
	-moz-transition: background-color .4s ease;
	-o-transition: background-color .4s ease;
	-ms-transition: background-color .4s ease;
	transition: background-color .4s ease;
}


#category-nav ul li a:hover,
#category-nav ul li a:focus,
#category-nav ul li a.active {
	background: none;
	background-color: rgba(255,255,255,0.8);
}

#category-nav ul li a i {
	margin-left: 5px;
	vertical-align: middle;
}

#category-nav .sub-categories {
	position: absolute;
	top: 100%;
	display: none;
	z-index: 99;
}

#category-nav .sub-categories li {
	background: #75ff8d;
    background: -moz-linear-gradient(left, #75ff8d 0%, #74f2f7 100%);
    background: -webkit-linear-gradient(left, #75ff8d 0%,#74f2f7 100%);
    background: linear-gradient(to right, #75ff8d 0%,#74f2f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75ff8d', endColorstr='#74f2f7',GradientType=1 );
}

#category-nav .sub-categories a {
	white-space: nowrap;
}

/*---------------
Home Page
---------------*/

#homepage section {
	margin-top: 50px;
	margin-bottom: 50px;
}

#featured-post {
	position: relative;
}

#featured-post .post-thumbnail {
	position: relative;
    background: none;
    display: block;
    width: 100%;
	min-height: 300px;
    height: 70vh;
    overflow: hidden;
}

#featured-post .post-thumbnail img {
	min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	-webkit-transition: min-width .4s ease, min-height .4s ease;
	-moz-transition: min-width .4s ease, min-height .4s ease;
	-o-transition: min-width .4s ease, min-height .4s ease;
	-ms-transition: min-width .4s ease, min-height .4s ease;
	transition: min-width .4s ease, min-height .4s ease;
}

#featured-post .post-thumbnail:hover img,
#featured-post .post-thumbnail:focus img {
	min-width: 110%;
    min-height: 110%;
}

#featured-post .featured-content {
	position: absolute;
    background-color: #fff;
    bottom: 0;
    right: 50px;
    width: 50%;
    padding: 30px;
}

#featured-post .category-title {
	font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 8px;
}

#featured-post .post-title {
	margin: 0;
}

#featured-post .featured-content p {
	margin-bottom: 0;
}

.home-excerpt p {
	font-size: 14px;
	margin: 0;
}

.home-category {
	width: calc(33.33% - 23px);
    display: inline-block;
    vertical-align: top;
	margin-bottom: 40px;
}

.home-category.related-post {
	width: calc(50% - 13px);
}

.home-category:nth-last-child(1),
.home-category:nth-last-child(2),
.home-category:nth-last-child(3) {
	margin-bottom: 0;
}

.home-category:nth-child(3n-1) {
	margin: 0 10px;
}

.home-category:nth-child(3n-2) {
	margin-right: 20px;
}

.home-category:nth-child(3n-3) {
	margin-left: 20px;
}

.home-category.related-post:nth-child(odd) {
	margin: 0 10px 0 0;
}

.home-category.related-post:nth-child(even) {
	margin: 0 0 0 10px;
}

.home-category .category-title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 15px;
}

.home-category .post-thumbnail {
	position: relative;
	background: none;
	width: 100%;
    height: 18vw;
    max-height: 235px;
    display: block;
    overflow: hidden;
	background: #75ff8d;
    background: -moz-linear-gradient(left, #75ff8d 0%, #74f2f7 100%);
    background: -webkit-linear-gradient(left, #75ff8d 0%,#74f2f7 100%);
    background: linear-gradient(to right, #75ff8d 0%,#74f2f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75ff8d', endColorstr='#74f2f7',GradientType=1 );
}

.home-category .post-thumbnail img {
	min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	-webkit-transition: min-width .4s ease, min-height .4s ease;
	-moz-transition: min-width .4s ease, min-height .4s ease;
	-o-transition: min-width .4s ease, min-height .4s ease;
	-ms-transition: min-width .4s ease, min-height .4s ease;
	transition: min-width .4s ease, min-height .4s ease;
}

.home-category .post-thumbnail:hover img,
.home-category .post-thumbnail:focus img {
    min-height: 110%;
	min-width: 110%;
}

.home-category .date {
	margin: 15px 0 5px;
	display: block;
}

.home-category .post-title {
	display: inline-block;
	font-size: 26px;
	margin: 0 0 15px;
}

#other-posts {
	border-top: 1px solid #d8d8d8;
}

/*---------------
Post Page
---------------*/

.date {
	color: #595959;
	text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
}

article.post .category {
	margin-left: 12px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}

article.post .comments {
	font-size: 13px;
}

.post-meta > span {
	display: inline-block;
}

.post-meta .sep {
	margin: 0 5px;
}

.entry-meta,
.entry-title,
#mms-social {
	text-align: center;
}

.post-banner {
	width: 100%;
    height: 100vh;
	max-width: 1100px;
	max-height: 60vh;
    overflow: hidden;
    position: relative;
    margin-top: 30px;
    margin-bottom: 50px;
}

.post-banner img {
	min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.entry-content {
    width: 65%;
    margin: 0 auto;
}

.entry-content .sharedaddy {
	margin: 30px 0;
}

.entry-content .sharedaddy:nth-child(1) {
	margin-top: 0;
}

.post-meta {
	margin: 30px 0;
}

.entry-content p {
	margin-top: 0;
}

#related-posts {
	border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 30px;
}

.entry-comments {
	border-top: 1px solid #d8d8d8;
}

.comment-form-comment label {
	display: block;
	font-weight: bold;
}

.comment-form-comment textarea {
	width: 100%;
}

.comment-intro {
    font-size: 12px;
}

.sidebar {
	width: 100%;
    margin: 100px auto;
}

.sidebar > h2:nth-child(1) {
	margin-top: 0;
}

.recent-post {
	display: inline-block;
    width: 33.33%;
}

.recent-post .post-thumbnail {
	width: 40%;
    margin-right: 40px;
}

.recent-post .post-thumbnail img {
	width: 100%;
    height: auto;
}

.widget {
	margin-bottom: 30px;
	width: calc(33.3333% - 3px);
    display: inline-block;
    vertical-align: top;
    padding: 0 30px;
}

.widgettitle {
	font-size: 22px;
	margin: 0 0 15px;
}

/*---------------
Page
---------------*/

body.page main h1,
body.page main article {
	max-width: 715px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

body.page main h1 {
	margin-top: 40px;
}

/*---------------
Archives Page
---------------*/

.archive-content {
	width: 65%;
	float: left;
	margin-right: 50px;
}

.archive-title {
	margin: 40px 0;
}

.archive-title.with-description {
	margin: 40px 0 0;
}

.taxonomy-description {
	margin-bottom: 40px;
}

.archive-content article {
	display: table;
    width: 100%;
	margin-bottom: 30px;
}

.archive-content article:nth-last-child(1) {
	margin-bottom: 0;
}

.archive-content .post-thumbnail {
	width: 35%;
    display: table-cell;
    vertical-align: top;
    background: none;
}

.archive-content .post-thumbnail img {
	display: block;
    width: 100%;
    height: auto;
}

.archives-entry-content {
	display: table-cell;
    padding-left: 20px;
    vertical-align: middle;
}

.archive-content .comments {
	margin-left: 5px;
}

.archive-content h2 {
	margin-top: 10px;
	font-size: 24px;
	margin-bottom: 30px;
}

/*---------------
Comments
---------------*/

article.post .entry-comments .comments {
	font-size: 18px;
}

.entry-comments .comments ol {
	list-style: none;
    padding: 0 0 20px;
    border-bottom: 1px solid #d8d8d8;
}

.entry-comments .says,
.entry-comments .reply {
	display: none;
}

.entry-comments .comments ol li {
	margin-bottom: 15px;
}

/*---------------
MMS Custom Features
---------------*/

.entry-content #mms-social.container {
	padding: 0;
}

#mms-social ul {
	list-style: none;
	padding: 0;
	margin-top: 5px;
}

#mms-social li {
	display: inline-block;
	margin-top: 5px;
}

#mms-social a {
	background: none;
	display: block;
    background-color: #e9e9e9;
    border-radius: 100%;
    padding: 5px 6.5px;
    font-size: 16px;
	-webkit-transition: all ease .4s;
	-moz-transition: all ease .4s;
	-ms-transition: all ease .4s;
	-o-transition: all ease .4s;
	transition: all ease .4s;
}

#mms-social a:hover,
#mms-social a:focus {
	background-color: #75ff8d !important;
	color: #000 !Important;
}

#mms-social .extra-sharing {
	display: none;
}

#mms-social .extra-sharing.visible {
	display: block;
}

#mms-social .facebook { background-color: #3b5998; color: #fff; }
#mms-social .twitter { background-color: #1da1f2; color: #fff; }
#mms-social .pinterest { background-color: #bd081c; color: #fff; }
#mms-social .linkedin { background-color: #0077b5; color: #fff; }
#mms-social .reddit { background-color: #ff4500; color: #fff; }
#mms-social .tumblr { background-color: #35465c; color: #fff; }
#mms-social .buffer { background-color: #323b43; color: #fff; }
#mms-social .fb-messenger { background-color: #0084ff; color: #fff; }
#mms-social .skype { background-color: #00aff0; color: #fff; }
#mms-social .pocket { background-color: #ef4056; color: #fff; }
#mms-social .whatsapp { background-color: #25d366; color: #fff; }
#mms-social .telegram { background-color: #0088cc; color: #fff; }

/*---------------
Mailchimp
---------------*/

body > #mc_embed_signup {
	background-position: center center;
    background-size: cover;
    padding: 30px;
	text-align: center;
	clear: both;
}

body > #mc_embed_signup > form {
	display: inline-block;
    background-color: rgba(255,255,255,0.85);
    padding: 30px !important;
}

/*---------------
Ninja Forms
---------------*/

.nf-form-cont {
	margin-top: 30px;
}

.nf-form-fields-required {
	font-size: 12px;
	margin-bottom: 10px;
}

/*---------------
Footer
---------------*/

footer {
	padding-top: 30px; 
	padding-bottom: 15px;
	text-align: center;
	background: #75ff8d;
	background: -moz-linear-gradient(left, #75ff8d 0%, #74f2f7 100%);
	background: -webkit-linear-gradient(left, #75ff8d 0%,#74f2f7 100%);
	background: linear-gradient(to right, #75ff8d 0%,#74f2f7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75ff8d', endColorstr='#74f2f7',GradientType=1 );
}

footer h4 {
	margin: 0 0 10px;
}

footer .social {
	text-align: center;
	margin-top: 0;
	margin-bottom: 10px;
}

footer .social i {
	margin: 0 5px;
}

footer .copyright {
	font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0 0;
}

footer a {
	background: none;
}

footer a:hover,
footer a:focus,
footer a:active {
	background-image: linear-gradient(to bottom, transparent 65%, #ffffff 10%);
}

footer .site-description {
	font-size: 16px;
	margin: 0 0 10px;
}

#menu-legal-menu,
footer nav {
	width: 100%;
    padding: 0 30px;
	margin: 0 auto;
    text-align: center;
    list-style: none;
    font-size: 10px;
    text-transform: uppercase;
}

#menu-legal-menu li {
	display: inline-block;
	margin: 0 5px;
}

footer nav {
	font-weight: bold;
}

footer nav ul {
	list-style: none;
	padding: 0;
    margin: 0 0 10px;
}

footer nav ul li {
	display: inline-block;
    margin: 0 5px;
    font-size: 13px;
}

footer nav .more-categories {
	position: relative;
}

footer nav .more-categories:hover ul {
	display: block;
}

footer nav .more-categories ul {
	display: none;
	position: absolute;
}

/*---------------
Responsive
---------------*/

@media screen and (max-width: 1024px) {
	.widget {
		width: calc(50% - 3px);
		padding: 15px;
	}
}

@media screen and (max-width: 768px) {

	figure {
		margin-left: 0;
		margin-right: 0;
	}

	.container {
		padding: 0 30px;
	}

	.widget {
		width: 100%;
		padding: 0;
	}
	
	#mc_embed_signup > form {
		width: 100%;
	}
	
	#mc_embed_signup form label {
		max-width: 100%;
	}
	
	#mc_embed_signup form input.email,
	#mc_embed_signup form .button {
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	
	body > #mc_embed_signup form .button {
		width: auto;
		margin: 10px 0 0;
	}
	
	/*---------------
	Header
	---------------*/
	
	header > .container {
		margin-bottom: 0;
		padding: 0;
	}
	
	header .site-info {
		float: left;
		margin-left: 30px;
	}
	
	.mobile-menu {
		display: table-cell;
		margin-right: 30px;
	}
	
	#main-nav {
		display: none;
		text-align: center;
		padding-top: 15px;
	}
	
	#main-nav li a {
		padding: 10px 15px;
		background: none;
	}
	
	header .search {
		max-width: 100%;
		display: block;
		height: auto;
		position: relative;
	}
	
	header .search input {
		width: 100%;
		border-top: 2px solid #d8d8d8;
		padding: 5px 10px;
		text-align: center;
		margin-bottom: 0;
	}
	
	header .search-toggle {
		margin: 0;
		display: none;
		
	}
	
	header .menu-menu-container {
		display: block;
	}
	
	#main-nav li {
		display: block;
		margin: 0;
	}
	
	#main-nav .sub-menu {
		position: static;
		width: 100%;
		border-width: 4px;
	}

	#main-nav .sub-menu li {
		margin-top: 0;
	}
	
	#category-nav {
		display: none;
	}
	
	#category-nav ul {
		padding: 0;
	}
	
	#category-nav > ul > li {
		float: none;
	}
	
	#category-nav ul li {
		display: block;
    	margin-right: 0;
	}
	
	#category-nav ul li a {
		padding: 10px 15px;
		text-align: center;
	}
	
	#category-nav .sub-categories {
		position: static;
	}
	
	/*---------------
	Home Page
	---------------*/
	
	#featured-post .post-thumbnail {
		height: auto;
		min-height: 0;
	}
	
	#featured-post .post-thumbnail img {
		position: static;
		width: 100%;
		height: auto;
		transform: none;
	}
	
	#featured-post .post-thumbnail:hover img,
	#featured-post .post-thumbnail:focus img,
	.home-category .post-thumbnail:hover img,
	.home-category .post-thumbnail:focus img {
		min-width: 100%;
		min-height: 100%;
	}
	
	#featured-post .featured-content {
		position: static;
		width: 100%;
		padding: 15px 0 50px;
		border-bottom: 1px solid #d8d8d8;
	}
	
	.home-category {
		width: calc(50% - 18px);
	}

	.home-category:nth-child(3n-1),
	.home-category:nth-child(3n-2),
	.home-category:nth-child(3n-3) {
		margin: 0;
	}
	
	.home-category:nth-child(odd) {
		margin-right: 15px;
	}
	
	.home-category:nth-child(even) {
		margin-left: 15px;
	}
	
	.home-category:nth-last-child(3) {
		margin-bottom: 40px;
	}
	
	.home-category .post-thumbnail {
		height: 28vw;
	}
	
	.home-category .post-thumbnail img {
		position: static;
		width: 100%;
		transform: none;
		display: block;
	}
	
	/*---------------
	Post Page
	---------------*/
	
	.post-banner {
		max-height: none;
		height: auto;
		overflow: visible;
		padding: 0;
	}
	
	.post-banner img {
		width: 100%;
		height: auto;
		position: static;
		transform: none;
		min-height: 0;
	}
	
	.entry-content,
	.sidebar,
	.archive-content {
		float: none;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	
	#pinterest-image {
		max-width: 300px;
		margin: 0 auto;
	}
	
	
	
	/*---------------
	Archives Page
	---------------*/
	
	.archive-content article:nth-last-child(1) {
		margin-bottom: 30px;
	}
	
}

@media screen and (max-width: 425px) {
	.wp-block-image figure {
		float: none;
		width: 100%;
	}
	
	.wp-block-image figure img {
		width: 100%;
	}
	
	.home-category {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	.home-category .post-thumbnail {
	    height: auto;
	}
	
	.home-category:nth-child(odd),
	.home-category:nth-child(even) {
		margin: 0 0 40px;
	}
	
	.home-category:nth-last-child(2) {
		margin-bottom: 40px;
	}
	
	.home-category:nth-last-child(1) {
		margin-bottom: 0;
	}
	
	.archive-content .post-thumbnail,
	.archive-content .archives-entry-content {
		width: 100%;
		display: block;
		padding: 0;
	}
	
	.archive-content .post-thumbnail {
		margin-bottom: 15px;
	}
}

@media print {
	
	html,
	body {
		margin: 5px;
	}
	
	a {
		background: none;
		text-decoration: underline;
	}
	
	#main-nav,
	#category-nav,
	.sharedaddy,
	aside,
	#mms-social,
	#respond,
	#mc_embed_signup,
	footer {
		display: none;
	}
	
	.container {
		padding-left: 0;
		padding-right: 0;
		max-width: 100%;
	}
	
	.entry-content {
		width: 100%;
		float: none;
		padding: 0;
	}
}